<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <title>{{ book['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book-detail.css') }}">
</head>
<body>
    <div class="container">
        <div class="book-detail">

            <form action="{{ url_for('handle_like', book_id=book['book_id']) }}" id="like-form" method="POST">
                <button type="submit" id="like-btn" class="like-button {% if is_liked %}liked{% endif %}">
                    {% if is_liked %}
                       &#128078; Unlike <!-- Thumb-up symbol -->
                    {% else %}
                        &#128077;Like <!-- Thumb-down symbol -->
                    {% endif %}
                </button>
                
            </form>
            <img src="{{ book['cover_image_url'] }}" alt="Book Cover">
            <h2>{{ book['title'] }}</h2>
            <p><strong>Author:</strong> {{ book['author'] }}</p>
            <p><strong> User Rating:</strong> {{ book['rating'] }} / 10</p>
            <p><strong>Review:</strong> {{ book['review'] }}</p>
            
            <a href="{{ url_for('homepage') }}">Back to Homepage</a>
        </div>
    </div>
</body>
</html>
